git .navbar{
   display: flex;
   justify-content: space-around;
}
.foot{
    display: flex;

    
}
.btn{
    display: flex;
justify-content: flex-end;
font-weight: bold ;
    margin-right: 10vh;

    
    
}